.left{
	background-color: aqua;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.interface{
	text-align: center;
	padding: 20px;
}
.right{
	background-image: url(../img/fondo.gif)no-repeat;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.ground{
	background-color: green;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height:40px;
}

.rocket{
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -62px;
	transition: none;
	width: 124px;
	height: 309px;
	background: url(../img/rocket.state1.png)no-repeat 0 0;
	transition: bottom 10000ms;
}

body.body-state1 .rocket{
	transition: none;
}
body.body-state2 .rocket{
background-image: url(../img/rocket.gif);
}

body.body-state3 .rocket{
background-image: url(../img/rocket2.gif);
bottom: 1000px;
}

body.body-state4 .rocket{
background-image: url(../img/rocket2.gif);
bottom: 1000px;
}

body.body-state5 .rocket{
background: url(../img/boom.png);
width: 289px;
height: 271px;
margin-left: -144.5px;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

a{

}

.button{
	background: url('../img/button.png')no-repeat center 170px;
	padding: 150px 150px;
	width: 150px;
	height: 150px;
}
.button1{
	background: url('../img/button2.png')no-repeat center 170px;
	padding: 150px 150px;
	width: 150px;
	height: 150px;
}
.button2{
	background: url('../img/button3.png')no-repeat center 170px;
	padding: 150px 150px;
	width: 150px;
	height: 150px;
}